body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #663399;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

body > header {
    padding: 15px;
    background-color: rgba(24, 45, 49, 1);
    color: white;
}

body > #main-content {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 15px auto;
    background-color: #eee;
}

h1.title {
    font-size: 1.335em;
    letter-spacing: -.05em;
    line-height: 1;
    display: block;
    color: #111;
}

h2.section-title {
    font-size: 1.015em;
    font-weight: normal;
    letter-spacing: -.04em;
    margin-bottom: 0;
    line-height: 1;
    color: #333;
}

p.section-disclaimer {
    font-size: .75em;
    line-height: 1.15;
    letter-spacing: -.025em;
    margin-top: 0;
    margin-bottom: 0;
    color: #999;
    font-weight: normal;
    display: block;
}

.form-section {
    padding: 15px 15px 15px;
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.form-section + .form-section {
    border-top: none;
}

.form-heading {
    padding: 15px 15px 25px;
}

.form-submit {
    margin-top: 25px;
    padding: 0 15px;
}

.form-section-body {
    margin-top: .25rem;
}

.form-section-body-question-fields-wrapper {
    padding: 0;
    margin-top: 15px;
}

.form-question > label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 0;
}

.form-question p {
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 500;
}

.form-question + .form-question {
    margin-top: 1rem;
}

.form-question > label > *:last-child {
    font-size: .8em;
}

.form-question span.field-required {
    color: red;
}


#footer {
    margin: 0 auto;
    padding: 15px 0;
}

#footer > p {
    text-align: center;
    color: white;
    opacity: .5;
    font-size: .8em;
}